<% @end_time %>
<h3>********************** Now your results **********************</h3>
<h4> Your word: <%= params[:query] %> </h4>
<h4> Time Taken to answer: <%= @score[:time] %> </h4>
<h4> Your score: <%= @score[:score] %> </h4>
<h4> Message: <%= @score[:message] %> </h4>
